.slideshow-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.slideshow-img {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    animation: zoomIn 5s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}